@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-backgroundcolor: #FCFCFC;
    --gradient-color:  linear-gradient(270.16deg, #CC00FF -2.84%, #5756FF 33.42%, #07FDFD 99.91%);
    --trash-icon: #FF6262;
    --edit-icon: #FFB800;
    --taskDone-icon: #05FF00; 
    --font-color: #5A5A5A;
    --color-box: #FFFFFF;
}

body{
    align-items: center;
    justify-content: center;
    font-family:'Overpass', sans-serif;
}


