 @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-background: #FCFCFC;
    --trash-icon: #FF6262;
    --edit-icon: #FFB800;
    --linear-gradient: linear-gradient(270.16deg, #CC00FF -2.84%, #5756FF 33.42%, #07FDFD 99.91%);
    --taskDone-icon: #05FF00; 
    --font-color: #5A5A5A;
    --border-box: #D9D9D9;
    --color-box: #FFFFFF;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family:'Overpass', sans-serif;
    /* 1rem = 10px
        font-size: 72.5%;
    */


    background-color: var(--color-background);
    max-height: 100vh;

}

#title-page{    
    margin-top: 4.68rem;
    margin-bottom: 1.25rem;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;

    line-height: 51px;
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.content-task{
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-new-task{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1.25rem;

    color: var(--font-color);
    font-size: 1.25rem;
    font-weight: 400;

    padding: 1rem;
    gap: 0.3rem;

    width: 36.6875rem;
    height: 3.8rem;

    background: var(--color-box);
    border-radius: 1rem 0rem 0rem 1rem;
    border-style: none;

}
#input-new-task:focus{
    outline: none;
}

#btn-save{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    margin-bottom: 1.25rem;
    padding: 1rem 1.6rem;
    gap: 1rem;

    width: 5.875rem;
    height: 3.8rem;

    background: var(--linear-gradient);
    border-radius: 0 1rem 1rem 0;
    border-style: none;

    font-family: 'Overpass', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #FFFFFF;
}

/*Infos Todo and tasks adds*/

.content-toDo-task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 42.93rem;
    height: 19.75rem;
}
.info-to-do{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 42.93rem;
    height: 2.5rem;

}

#to-do-done{
    font-size: 1rem;
    font-weight: 600;

    background: var(--linear-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    
}
#to-do-prog{

}




