@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-background: #FCFCFC;
    --trash-icon: #FF6262;
    --edit-icon: #FFB800;
    --linear-gradient: linear-gradient(270.16deg, #CC00FF -2.84%, #5756FF 33.42%, #07FDFD 99.91%);
    --taskDone-icon: #05FF00; 
    --font-color: #5A5A5A;
    --color-box: #FFFFFF;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Overpass', sans-serif;
    background-color: var(--color-background);
}

#title-page{    

    margin: 4rem;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 51px;
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
}



